PORT=3000
MONGODB_USER=porezkakir2
MONGODB_PASSWORD=XwPxIAVPSjXV1tlR
MONGODB_URL=mongodb+srv://porezkakir2:XwPxIAVPSjXV1tlR@cluster0.p84uq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0  # Обычно это имя хоста вашего MongoDB Atlas кластера
MONGODB_DB=your_database_name
